/***general**/
a{
    text-decoration: none;
}
body{
    background-color: white;
   font-family:calibri;
}
.ui-block{
    border: 1px solid #E0DFDC;
    border-radius: 12px;
    background-color: white;
    margin-bottom: 5px;
    
}

#footer{
    height: 200px;
    width: 100%;
    background-color: whitesmoke;
}

@media screen and (min-width:1024px) {
    
   
    #aside-left2{
        display: none;
    }
   
}
@media screen and  (min-width:766px) and (max-width:1024px) {
    
   
    #aside-left{
        display: none;
    }
   
}

@media screen and (max-width:1023px) {

    #aside-left{
        display: none;
    }
    
}




