header {
    border-bottom: .5px solid rgb(212, 209, 209);
    border-top: .5px solid rgb(165, 164, 164);
    height: 60px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-around;
    font-weight: 300;
    font-size: 12px;
    background-color: white;
}

header a{
    color: #666666;
}


#logo img {
    width: 150px;
}

#icones {
    display: flex;
}

#icones div {
    margin-right: 5px;
    width: 75px;
}

.active {
    border-bottom: 2px solid black;
    color: black;
}



.menu-item {
    cursor: pointer;
}


#icones iconify-icon {
    font-size: 20px;
    color: #666666;
}

.menu-item:hover {
    color: black;

}

.menu-item:hover {
    color: black;
    transform: translateY(-1px);
}

.active {
    border-bottom: 2px solid black;
    color: black;
}

#contact {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: #0465d8;
}

#contact span {
    color: #94c11e;
}

#search .bg-green {
    background-color: #94c11e;
}

#search .border-green {
    border-color: #94c11e;
}

@media screen and (min-width:1024px) {
    #header-md {
        display: none;
    }

    #header-sm {
        display: none;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    #header-lg {
        display: none;
    }

    #header-sm {
        display: none;
    }
}

@media screen and (max-width:767px) {
    #header-md {
        display: none;
    }

    #header-lg {
        display: none;
    }

    #icones div {
        margin-right: 2px;
        width: 60px;
    }

    header {
        margin-left: 0;
        margin-right: 0;
        font-size: 10px;
        justify-content: center;
    }
}