#barre-editeur{
    position: fixed;
    top:60px;
    height: 55px;
    width: 100%;
    z-index: 20;
    border-bottom: 1px solid #E0DFDC;
    border-top: 1px solid #E0DFDC;
    background-color: white;
    padding-right: 10px;
    
}
#barre-editeur a{
    color: black;
}

.profil-picture{
    border: 1px solid black;
    width: 45px;
    height: 45px;
    border-radius: 500px;
    margin-right: 10px;
}
#dropdownMenuButton1{
    border: none;
    background-color: none;
}
#dropdownMenuButton1:hover{
    border: none;
}


/*entete*/
#entete{
    height: 300px;
    width: 100%;
    background-color: white;
   margin-top: 80px;
}

#cover-photo{
    height: 200px;
    width: 100%;
    background-color: #d9d9d9;
    border-top-left-radius: 12px;
    border-top-left-radius: 12px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: hidden;
}

#cover-img{
   
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 100%;
    height: 100%;
}
#modifier-cover-photo{
   background-color: white;
   width: 105px;
   height: 30px;
   font-weight: bold;
   text-align: center;
   border-radius: 5px;
   position: absolute;
   margin-right: 10px;
   
}

#profil-photo{
    width:110px;
    height:110px;
    border: 1px solid black;
    position:relative;
    top:-60px;
    left:20px;
    border-radius:100px;
       
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 15;
    padding-left: 2em;
}
#profil-img{
    border-radius:100px ;
    width: 100%;
    height: 100%;
   position: absolute;
    overflow: hidden;

}
#profil-photo button{
    border: none;
    z-index: 15;
   
}

#modifier-profil-photo{
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#info{
    position: relative;
    top:-115px;
    padding: 10px;
    /* padding-bottom: 30px; */
}

#profil-info{
    margin-left: 130px;
}

.title{
    font-weight: bold;
    font-size: 20px;

}
.sub-title{
    font-size: 14px;
    position: relative;
    top:-6px;
    font-weight: lighter;
}

.stat-btn{
    border: none;
    height: 40px;
    width: 170px;
    border-radius: 7px;
    font-weight: 400;
    background-color: #d9d9d9;
    align-self: flex-end;
}

.stat-btn button{
    border: none;
    background: none;
}
#nav{
   
    position: relative;
    top: -140px;
}

#nav ul{
    list-style: none;
    display: flex;
}
#nav ul li, .nav-link{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
}

#nav .active{
    /* border-bottom: 2px solid black; */
    background-color: #e8f0fb;
}

#nav a{
    color: black;
    cursor: pointer;
}

#navbarNavDropdown{
    background-color: white;
    z-index: 5;

}

@media screen and (max-width:572px) {
    /* #about-link{
        display: none;
    } */
    #archives-link{
        display:none;
    }
    #stat-btn{
        display: none;
    }
    #nav ul li{
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
    }
    .title{
        font-weight: bold;
        font-size: 15px;
    
    }
}